<div class="cube-face" id="cube-face-front" cube-face="front">
    <div class="row">
        <div class="col s4">
            <div class="row">
                <div class="col s12">
                    <div id="date" class="sensor" entity-id="sensor.date">&nbsp;</div>
                    <div id="time" class="sensor" entity-id="sensor.time">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="floorplan" class="col s4">
{{ source('floorplan/loft.svg') }}
{{ source('floorplan/upstairs.svg') }}
{{ source('floorplan/downstairs.svg') }}
        </div>
        <div class="col s4">
            <div class="row" id="weather">
                <div class="col s12">
                    <div class="row">
                        <div class="col s1">&nbsp;</div>
                        <div class="col s11">
                            <img src="{{ asset('img/weather-icons/wi-strong-wind.svg') }}"/>
                            <span class="sensor" entity-id="sensor.dark_sky_wind_speed">&nbsp;</span>
                            <span class="sensor" entity-id="sensor.dark_sky_wind_bearing">&nbsp;</span>
                            <img src="{{ asset('img/weather-icons/wi-sunrise.svg') }}"/>
                            <span class="sensor" entity-id="sensor.sunrise">00:00</span>
                            <img src="{{ asset('img/weather-icons/wi-sunset.svg') }}"/>
                            <span class="sensor" entity-id="sensor.sunset">00:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">&nbsp;</div>
                        <div class="col s4 icon">
                            <canvas id="icon_current" width="75" height="75" class="sensor" entity-id="sensor.dark_sky_icon"></canvas>
                        </div>
                        <div class="col s3">
                            <div class="sensor temperature" entity-id="sensor.dark_sky_temperature">0</div>
                        </div>
                        <div class="col s3">
                            <div><span class="sensor temperature" entity-id="sensor.dark_sky_daily_high_temperature">0</span><i class="material-icons">arrow_upward</i></div>
                            <div><span class="sensor temperature" entity-id="sensor.dark_sky_daily_low_temperature">0</span><i class="material-icons">arrow_downward</i></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">&nbsp;</div>
                        <div class="col s10">
                            <div class="sensor summary" entity-id="sensor.dark_sky_hourly_summary">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="traffic" class="col12">
                    <div class="map"></div>
                    <div class="chip">
                        Time to work: <span class="sensor" entity-id="sensor.time_to_work">&nbsp;</span> minutes
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
